<div class="container">
	<div class="row">
		<h2 class="titleSection p-3">Colaboradores</h2>
		<h4 class="area-cola">DIRETORIA EXECUTIVA</h4>
		<div class="col-sm-12 col-md cola">			
			<h4 class="nome">RAPHAEL SODRÉ CITTADINO</h4>
			<span class="cargo">Diretor Presidente </span>
		</div>		
		<div class="col-sm-12 col-md cola">			
			<h4 class="nome">NIVALDO ADÃO FERREIRA JUNIOR</h4>
			<span class="cargo">Diretor Vice-Presidente </span>
		</div>		
		<div class="col-sm-12 col-md cola">			
			<h4 class="nome">THIAGO ROCHA LEANDRO</h4>
			<span class="cargo">Diretor Executivo</span>
		</div>		
		<div class="col-sm-12 col-md cola">			
			<h4 class="nome">CAROLINA COELHO REGUFFE</h4>
			<span class="cargo">Secretária Geral </span>
		</div>		
		<div class="col-sm-12 col-md cola">			
			<h4 class="nome">MAURÍCIO DE ALBUQUERQUE</h4>
			<span class="cargo">Diretor Financeiro</span>
		</div>		
	</div>
	<div class="row">
		<div class="col-sm-12 col-md">
			<h4 class="area-cola p-0">DIRETORIA ADJUNTA</h4>
			<ul class="colaboradores">
				<li>ALEXANDRE BISSOLI</li>
				<li>DANIEL ELIAS CARVALHO VILELA </li>
				<li>JOSÉ FERNANDO LATORRE FILHO </li>
				<li>LINCOLN AUGUSTO SANTANA TELHADO </li>
				<li>MARIANA AZEVEDO GAVA </li>
				<li>MILENA MARTINS DE OLIVEIRA</li> 
				<li>PEDRO TORRES BRANDÃO VILELA</li>
				<li>PRISCILLA SODRÉ PEREIRA </li>
				<li>THIAGO MELLO PEIXOTO DA SILVEIRA</li>
			</ul>
		</div>
		<div class="col-sm-12 col-md">
			<h4 class="area-cola p-0">CONSELHO FISCAL</h4>
			<ul class="colaboradores">
				<li>BRUNA DE MATOS CHAVES </li>
				<li>BARBARA ROSA MARINHO </li>
				<li>MARIANA KUSTER DE FREITAS </li>
			</ul>
		</div>
	</div>
</div>