<div class="container">
	<div class="row">
		<div class="col-12 col-md-3">
			<figure>
				<img src="images/logo-ielp-white.png" alt="Logo do IELP" class="logo-footer">
			</figure>
			<p class="info-txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, Officia molestiae.</p>
			<ul class="pInfo">
				<li><a href="mailto:contato@ielp.com" title="contato@ielp.com" target="_blank"><i class="far fa-envelope"></i>contato@ielp.com</a></li>
				<li><a href="tel:+55110000000" title="+55 11 0000-0000"><i class="fas fa-phone"></i>+55 11 0000-0000</a></li>
			</ul>
			<ul class="social">
				<li><a href="" title="Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
				<li><a href="" title="Instagram" target="_blank"><i class="fab fa-instagram"></i></a></li>
				<li><a href="" title="Youtube" target="_blank"><i class="fab fa-youtube"></i></a></li>
			</ul>
		</div>
		<div class="col-12 col-md-3 d-none d-md-block">
			<h4>O Instituto</h4>
			<ul class="itens">
				<li><a href="">Sobre</a></li>
				<li><a href="">Propósito</a></li>
				<li><a href="">Missão</a></li>
				<li><a href="">Visão</a></li>
				<li><a href="">Valores</a></li>
			</ul>
		</div>
		<div class="col-12 col-md-3 d-none d-md-block">
			<h4>Destaques</h4>
			<ul class="itens">
				<li><a href="">Projetos</a></li>
				<li><a href="">Colaboradores</a></li>
				<li><a href="">Notícias</a></li>
				<li><a href="">Galeria</a></li>
				<li><a href="">Contato</a></li>
			</ul>
		</div>
		<div class="col-12 col-md-3">
			<h4>Seja um Doador</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, eum?</p>
			<a href="" class="btn btn-ielp">Doe Aqui!</a>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<p class="copy">IELP  <span>Instituto de Estudos Legislativos e Políticas Públicas</span> © 2019 Todos os direitos reservados</p>
		</div>
	</div>
</div>