<div class="container emConstrucao">
	<div class="row">
		<h2 class="titleSection p-3">Galeria</h2>
		<div class="col">
			<p>Confira os registros das atividades do I.E.L.P.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-6 col-md-2">
			<a href="images/img-galeria-full.jpg" class="" data-toggle="lightbox" data-gallery="ielp-gallery" title="img1">
				<figure>
					<img src="images/img-galeria.jpg" alt="" class="img-fluid">
				</figure>
			</a>
		</div>
		<div class="col-6 col-md-2">
			<a href="images/banner-web.jpg" class="" data-toggle="lightbox" data-gallery="ielp-gallery" title="img2">
				<figure>
					<img src="images/img-galeria.jpg" alt="" class="img-fluid">
				</figure>
			</a>
		</div>
		<div class="col-6 col-md-2">
			<a href="images/banner-mob-2.jpg" class="" data-toggle="lightbox" data-gallery="ielp-gallery" title="img3">
				<figure>
					<img src="images/img-galeria.jpg" alt="" class="img-fluid">
				</figure>
			</a>
		</div>
		<div class="col-6 col-md-2">
			<a href="images/bg-news.jpg" class="" data-toggle="lightbox" data-gallery="ielp-gallery" title="img4">
				<figure>
					<img src="images/img-galeria.jpg" alt="" class="img-fluid">
				</figure>
			</a>
		</div>
		<div class="col-6 col-md-2">
			<a href="images/img-galeria-full.jpg" class="" data-toggle="lightbox" data-gallery="ielp-gallery" title="img5">
				<figure>
					<img src="images/img-galeria.jpg" alt="" class="img-fluid">
				</figure>
			</a>
		</div>
		<div class="col-6 col-md-2">
			<a href="images/img-galeria-full.jpg" class="" data-toggle="lightbox" data-gallery="ielp-gallery" title="img6">
				<figure>
					<img src="images/img-galeria.jpg" alt="" class="img-fluid">
				</figure>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-6 col-md-2">
			<a href="images/img-galeria-full.jpg" class="" data-toggle="lightbox" data-gallery="ielp-gallery" title="img7">
				<figure>
					<img src="images/img-galeria.jpg" alt="" class="img-fluid">
				</figure>
			</a>
		</div>
		<div class="col-6 col-md-2">
			<a href="images/img-galeria-full.jpg" class="" data-toggle="lightbox" data-gallery="ielp-gallery" title="img8">
				<figure>
					<img src="images/img-galeria.jpg" alt="" class="img-fluid">
				</figure>
			</a>
		</div>
		<div class="col-6 col-md-2">
			<a href="images/img-galeria-full.jpg" class="" data-toggle="lightbox" data-gallery="ielp-gallery" title="img9">
				<figure>
					<img src="images/img-galeria.jpg" alt="" class="img-fluid">
				</figure>
			</a>
		</div>
		<div class="col-6 col-md-2">
			<a href="images/img-galeria-full.jpg" class="" data-toggle="lightbox" data-gallery="ielp-gallery" title="img10">
				<figure>
					<img src="images/img-galeria.jpg" alt="" class="img-fluid">
				</figure>
			</a>
		</div>
		<div class="col-6 col-md-2">
			<a href="images/img-galeria-full.jpg" class="" data-toggle="lightbox" data-gallery="ielp-gallery" title="img11">
				<figure>
					<img src="images/img-galeria.jpg" alt="" class="img-fluid">
				</figure>
			</a>
		</div>
		<div class="col-6 col-md-2">
			<a href="images/img-galeria-full.jpg" class="" data-toggle="lightbox" data-gallery="ielp-gallery" title="img12">
				<figure>
					<img src="images/img-galeria.jpg" alt="" class="img-fluid">
				</figure>
			</a>
		</div>
	</div>
</div>