<div class="container">
	<div class="row">
		<div class="col">
			<div class="breadcrumb">
				<a href="noticias.html"><i class="fas fa-arrow-circle-left"></i> Voltar para notícias</a>
			</div>
		</div>		
	</div>	
	<div class="row">
		<div class="col-12 col-md-8">
			<article class="post">
				<figure>
					<img src="images/news-blog.jpg" alt="" class="img-fluid">
				</figure>
				<h3 class="title-post">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, accusamus!</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam est, consequatur quia magni dolor accusantium, enim nobis iusto! Nostrum vitae sequi delectus tempore totam magni natus dolor! Molestias, repudiandae, voluptas.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos quia consequuntur, sapiente delectus necessitatibus eaque corporis eveniet! Repudiandae architecto maxime suscipit sunt expedita, vitae velit itaque ipsa doloribus at dolor fugiat, quod voluptatibus impedit? Repellendus eos pariatur nemo deleniti id error fugiat laborum quidem iure quis facere, illum nisi minima.</p>
			</article>
		</div>
		<div class="col-12 col-md-4 d-none d-md-block">
			<section id="noticias-home">
	        	<partial src="noticias-home.html"></partial>  
	        </section>
		</div>
	</div>
</div>