<div id="mvv" class="container">
	<div class="row">
		<div class="col-12 col-md-5">
			<figure>
				<img src="images/mvv.png" alt="" class="img-fluid">
			</figure>
		</div>
		<div class="col-12 col-md-7">
			<div class="dflx h-100">
				<div class="p1">
					<p><strong class="title">Missão</strong>Ser um instrumento estratégico no monitoramento e desenvolvimento do quadro de transparência e eficiência das casas legislativas estaduais e municiais e das políticas públicas no Brasil; auxiliar concretamente a sociedade civil e atuar também como potencial parceiro do poder público na promoção de intercâmbio e construção de ferramentas para aperfeiçoamento da gestão.</p>

					<p><strong class="title">Visão</strong>Tornar-se referência nacional na defesa e promoção da eficiência e transparência legislativa e administrativa e das agendas relacionadas às políticas públicas e ao poder legislativo, além de ser um centro de excelência na produção e publicação de artigos, estudos e pesquisas técnicas relacionadas às temáticas de atuação da instituição. </p>
					
					<p><strong class="title">Valores</strong>Transparência, Eficiência, Excelência técnica, Modernização, Independência e autonomia.</p>
				</div>
			</div>			
		</div>
	</div>
</div>