<div id="mvv" class="container">
	<div class="row">
		<div class="col-12 col-md-5">
			<figure>
				<img src="images/mvv.png" alt="" class="img-fluid">
			</figure>
		</div>
		<div class="col-12 col-md-7">
			<div class="dflx h-100">
				<div class="p1">
					<p><strong class="title">Missão</strong>Ser um instrumento estratégico no desenvolvimento de maior transparência e eficiência das casas legislativas e de eficiência e eficácia das políticas públicas no Brasil; auxiliar concretamente a sociedade civil e atuar como potencial parceiro do poder público na promoção de intercâmbio e construção de ferramentas para aperfeiçoamento do Poder Legislativo e de Políticas Públicas; integrar estudiosos do poder legislativo e de políticas públicas no país.</p>

					<p><strong class="title">Visão</strong>Tornar-se referência na defesa e promoção da eficiência e transparência legislativa e administrativa e das agendas relacionadas às políticas públicas e ao poder legislativo, além de ser um centro de excelência na produção de conhecimento com o desenvolvimento de atividades, publicação de artigos, estudos e pesquisas técnicas relacionadas às temáticas de atuação da instituição. </p>
					
					<p><strong class="title">Valores</strong>Transparência, Eficiência, Excelência técnica, Modernização, Independência, Autonomia, Engajamento.</p>
				</div>
			</div>			
		</div>
	</div>
</div>