<div class="container">
	<div class="row">
		<h2 class="titleSection d-block d-md-none p-3">Na mídia</h2>
		<div class="col-12 col-md-5 d-block d-md-none">
			<figure>
				<img src="images/na-midia-home.png" alt="" class="img-fluid">
			</figure>
		</div>
		<div class="col-12 col-md-7">
			<div class="dflx h-100">
			<p><strong class="title d-none d-md-block">Na mídia</strong><span>Em construção.</span>
				Espaço destinado para reunir as participações e contribuições do IELP nos veículos de comunicação, como reportagens, notas e entrevistas sobre o instituto, a sua atuação ou como fonte de informação em pautas relacionadas.			
			</p>
			</div>			
		</div>
		<div class="col-12 col-md-5 d-none d-md-block">
			<figure>
				<img src="images/na-midia-home.png" alt="" class="img-fluid">
			</figure>
		</div>
	</div>
</div>