<div class="container">
	<div class="row">
		<h2 class="titleSection p-3">Notícias</h2>
		<div class="col">
			<div class="card">
				<a href="news-test.html">
					<figure>
						<img src="images/news-home.jpg" alt="" class="img-fluid">
					</figure>
					<div class="content">
						<h4 class="title">Lorem ipsum dolor sit amet, consectetur.</h4>
						<p class="article">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, officia!</p>
					</div>
				</a>	
			</div>
		</div>
		<div class="col">
			<div class="card">
				<a href="news-test.html">
					<figure>
						<img src="images/news-home.jpg" alt="" class="img-fluid">
					</figure>
					<div class="content">
						<h4 class="title">Lorem ipsum dolor sit amet, consectetur.</h4>
						<p class="article">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, molestias!</p>
					</div>
				</a>	
			</div>
		</div>
		<div class="col">
			<div class="card">
				<a href="news-test.html">
					<figure>
						<img src="images/news-home.jpg" alt="" class="img-fluid">
					</figure>
					<div class="content">
						<h4 class="title">Lorem ipsum dolor sit amet, consectetur.</h4>
						<p class="article">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, deserunt!</p>
					</div>
				</a>	
			</div>
		</div>
		<div class="col">
			<div class="card">
				<a href="news-test.html">
					<figure>
						<img src="images/news-home.jpg" alt="" class="img-fluid">
					</figure>
					<div class="content">
						<h4 class="title">Lorem ipsum dolor sit amet, consectetur.</h4>
						<p class="article">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, aliquid.</p>
					</div>
				</a>	
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col text-center mt-5">
			<a href="noticias.html" class="btn bt-ielp" title="Outras Notícias">Outras Notícias</a>
		</div>
	</div>
</div>