<div class="container">
	<div class="row">
		<h2 class="titleSection d-block d-md-none p-3">Participe do IELP</h2>
		<div class="col-12 col-md-5">
			<figure>
				<img src="images/participe-home.png" alt="" class="img-fluid">
			</figure>
		</div>
		<div class="col-12 col-md-7">
			<div class="dflx h-100">
			<div>
				<p><strong class="title d-none d-md-block">Participe do IELP</strong>Você pode se associar ao IELP, como pessoa física ou jurídica e contribuir para a construção do instituto.</p>
				<a href="#contato" data-scroll class="scroll_section btn bt-ielp" title="Associe-se!">Associe-se!</a> 
			</div>
			</div>			
		</div>
	</div>
</div>