<div class="container">
	<div class="row">
		<h2 class="titleSection p-3">Projetos</h2>
		<div class="col-12 col-md-5 d-block d-md-none">
			<figure>
				<img src="images/projetos-home.png" alt="" class="img-fluid">
			</figure>
		</div>
		<div class="col-12 col-md-7">
			<h4>Uma instituição propositiva e proativa pautada pela transparência com independência e autonomia para desenvolver diversas atividades.</h4>
			<p><strong>Entre as atividades que serão desenvolvidas pelo IELP, estão:</strong></p>
			<ul>
				<li>Observatório da Transparência Legislativa – monitoramento das casas legislativas municipais e estaduais com apresentação de diagnósticos;</li>
				<li>Mapa de Atuação, um mapa do Brasil interativo com possibilidade de click em cada unidade da federação bem como em cidades estratégicas, com direcionamento para informações básicas levantadas sobre a casa legislativa local e com link para eventuais estudos ou levantamentos realizados pelo IELP sobre ela;</li>
				<li>Prêmio IELP de Transparência;</li>  
				<li>Revista anual com publicação de artigos científicos; </li>
				<li>Biblioteca IELP, com espaço para repositório de artigos, estudos, reportagens, vídeos e materiais didáticos que envolvam a temática;</li>
				<li>TV IELP, com vídeos e entrevistas com pesquisadores e profissionais de destaque em áreas de atuação relacionadas às temáticas trabalhadas pelo instituto;</li> 
				<li>Realização de eventos, encontros, congressos, conferências sobre as temáticas relacionadas ao poder legislativo e às políticas públicas.</li>
			</ul>			
		</div>
		<div class="col-12 col-md-5 d-none d-md-block">
			<figure>
				<img src="images/projetos-home.png" alt="" class="img-fluid">
			</figure>
		</div>
	</div>
</div>