<div class="container">
	<div class="row">
		<h2 class="titleSection p-3">Projetos</h2>
		<div class="col-12 col-md-5 d-block d-md-none">
			<figure>
				<img src="images/projetos-home.png" alt="" class="img-fluid">
			</figure>
		</div>
		<div class="col-12 col-md-7">
			<h4>Uma instituição propositiva e proativa pautada pela transparência com independência e autonomia para desenvolver diversas atividades.</h4>
			<p><strong>Entre as atividades que estão sendo desenvolvidas pelo IELP, estão:</strong></p>
			<ul>
				<li>Observatório da Transparência Legislativa – análises dos sistemas informatizados das casas legislativas municipais e estaduais, com apresentação propostas de melhorias para cada instituição analisada;</li>
				<li>Mapa do Legislativo: um mapa interativo com informações de cada Unidade da Federação e com link para eventuais estudos ou levantamentos realizados pelo IELP sobre ela;</li>
				<li>Revista periódica;</li>
				<li>Realização de eventos, encontros, congressos e conferências.</li>
			</ul>			
		</div>
		<div class="col-12 col-md-5 d-none d-md-block">
			<figure>
				<img src="images/projetos-home.png" alt="" class="img-fluid">
			</figure>
		</div>
	</div>
</div>