<div id="proposito" class="container">
	<div class="row">
		<h2 class="titleSection d-block d-md-none p-3">Propósito</h2>
		<div class="col-12 col-md-5 d-block d-md-none">
			<figure>
				<img src="images/proposito.png" alt="" class="img-fluid">
			</figure>
		</div>
		<div class="col-12 col-md-7">
			<div class="dflx h-100">
				<div class="p1">
					<p><strong class="title d-none d-md-block">Propósito</strong>O IELP tem como propósito tornar-se referência nacional na promoção da eficiência e transparência legislativa e na eficiência e na eficácia das políticas públicas, sendo que sua atuação se dá na articulação das esferas, federal, estaduais e municipais, tanto do poder legislativo quanto de políticas públicas.</p>  
					<p>Além disso, o IELP pretende se tornar um centro de excelência na realização de eventos, produção e publicação de artigos, estudos e pesquisas técnicas relacionadas às temáticas dos poderes legislativos e de desenvolvimento, monitoramento e controle de políticas públicas e na constituição de uma rede de pensadores do poder legislativo e de políticas públicas no país.</p>
				</div>
			</div>			
		</div>
		<div class="col-12 col-md-5 d-none d-md-block">
			<figure>
				<img src="images/proposito.png" alt="" class="img-fluid">
			</figure>
		</div>
	</div>
</div>