<div class="container">
	<div class="row">
		<h2 class="titleSection d-block d-md-none p-3">Sobre o IELP</h2>
		<div class="col-12 col-md-5">
			<figure>
				<img src="images/sobre-1.png" alt="" class="img-fluid">
			</figure>
		</div>
		<div class="col-12 col-md-7">
			<div class="dflx h-100">
				<div class="p1">
					<p><strong class="title d-none d-md-block">Sobre o IELP</strong>O Instituto de Estudos Legislativos e Políticas Públicas – IELP é uma Organização Social sem fins lucrativos, pautada pela transparência, eficiência e excelência técnica, com independência e autonomia política e financeira, que atua como instrumento estratégico no monitoramento e desenvolvimento de estudos acerca do atual quadro de transparência e eficiência das casas legislativas estaduais e municiais e das políticas públicas no Brasil. 
					<br><br>
					<a href="o-instituto.html" class="btn bt-ielp" title="Saiba Mais">Saiba Mais</a>
					</p>
					<p class="v-int">A instituição foi fundada em outubro de 2019 diante da lacuna observada no cenário nacional com as gritantes desigualdades existentes entre os entes federados nos mais variados aspectos, inclusive, no que se refere à transparência e à eficiência das políticas públicas e dos seus órgãos legislativos e com a crescente reinvindicação da sociedade por mais participação nas decisões do poder público. Nesse contexto, o IELP surge como entidade propositiva, colaborativa e proativa, independente e tecnicamente especializada, auxiliando concretamente a sociedade civil e atuando também como potencial parceiro do poder público na promoção de intercâmbio e boas práticas administrativas, além da construção e desenvolvimento de ferramentas para uma gestão mais eficaz e transparente.</p>
					
					<p class="v-int">Além disso, se propõe a ser um polo aglutinador de estudos e de boas práticas sobre o tema, com atuação em todo o território nacional. Esse é um dos diferenciais da instituição. O IELP não tem seu foco de atuação voltado exclusivamente para o Executivo/Legislativo Federal ou para os Estados de maior visibilidade e sim, para os estados e municípios como um todo, privilegiando, inclusive, aqueles entes que historicamente possuem menos condições técnicas, estruturais e políticas para implementação de mecanismos de transparência e eficiência.</p>
				</div>
			</div>			
		</div>
	</div>
</div>