<div class="container">
	<div class="row">
		<h2 class="titleSection d-block d-md-none p-3">Sobre o IELP</h2>
		<div class="col-12 col-md-5">
			<figure>
				<img src="images/sobre-1.png" alt="" class="img-fluid">
			</figure>
		</div>
		<div class="col-12 col-md-7">
			<div class="dflx h-100">
				<div class="p1">
					<p><strong class="title d-none d-md-block">Sobre o IELP</strong>O Instituto de Estudos Legislativos e Políticas Públicas – IELP é uma organização sem fins lucrativos que atua no monitoramento e desenvolvimento de estudos sobre políticas públicas e Poder Legislativo e na integração de pensadores dessas áreas no país. 
					<br><br>
					<a href="o-instituto.html" class="btn bt-ielp" title="Saiba Mais">Saiba Mais</a>
					</p>
					<p class="v-int">A instituição tem o objetivo de contribuir na promoção da eficiência, transparência e participação nas decisões do poder público, atuando de modo propositivo, independente e tecnicamente especializado. Dentre suas atividades estão a realização de palestras, encontros, cursos, intercâmbios, pesquisas, publicações e estudos especializados.</p>
				</div>
			</div>			
		</div>
	</div>
</div>